<div id="<%= dom_id bulk_tree_upload %>">
  <p>
    <strong>Key:</strong>
    <%= bulk_tree_upload.key %>
  </p>

  <p>
    <strong>Processed:</strong>
    <%= bulk_tree_upload.processed %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= bulk_tree_upload.created_at %>
  </p>

</div>
