<h1>Editing bulk tree upload</h1>

<%= render "form", bulk_tree_upload: @bulk_tree_upload %>

<br>

<div>
  <%= link_to "Show this bulk tree upload", @bulk_tree_upload %> |
  <%= link_to "Back to bulk tree uploads", bulk_tree_uploads_path %>
</div>
